
body{
    margin: 0;
    padding: 0;
    background-color: #F8FAFB;
    font-family: 'Roboto', sans-serif;
    color: #404B69;
}

*{
    box-sizing: border-box;
}

.ant-tabs{
    background-color: #ffffff;
    color: #404B69;
    
}

.ant-tabs-nav{
    margin: 0 !important;
}

.ant-tabs-tab{
  padding: 20px 30px 20px 30px;
  font-weight: 700;
} 

.ant-tabs-tab .ant-tabs-tab-active{
    color: #AA94DE !important;
 
}

.ant-tabs-tab:hover{
    color: #AA94DE !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #AA94DE !important;
    /* padding: 0px 30px; */
}
.ant-tabs-ink-bar {
    background-color: #AA94DE !important;
  
}



.card-from-wrapper{
    background-color: #F5F5F5 !important;

}



.from-wrapper{
  margin: 15px 11px 23px 15px ;
  background-color: #ffffff;
  border-radius: 5px;
  padding:18px;
  min-height:580px
}
.heading-text{
    font-size: 18px;
    padding-top: 15px;
    color: #2A62B7;
    line-height: 22px;
    margin-left: 23px;
    font-weight: 600;
}

.subheading-text{
    color: #707070;
    line-height: 17px;
    font-size: 14px;
    margin-left: 23px;
   
}

.input-wrapper{
    display: flex;
    justify-content:space-between;
    margin: 20px 0px 40px 0px;
}



.sm-input{
    width:100%;
    border-radius: 5px;
    border: 1px solid #B5B5B5;
    height: 35px;
    outline: none;
    
}

.invalid-input{
    width:100%;
    border-radius: 5px;
    border: 1px solid #E91E63;
    height: 35px;
    outline: none; 
}

input:hover{
  filter: drop-shadow(0px 1px 4px #AA94DE);
  outline: none;
}

.data-wrapper{
    width: 48%;
    position: relative;
   
}

.input-button-wrapper{
    display: flex;
    justify-content: right;
    position: fixed;
    bottom: 40px;
    right: 30px;
}

.input-button-wrapper div button{
    color: #fff;
    background-color: #48A44C;
    border: none;
    border-radius: 3px;
    width: 90px;
    height: 31px;
}

input{
    padding: 0px 10px;
}

.error-message{
    color: #E91E63;
}

.logo-wrapper{
    position: absolute;
    left: 0;
    top: 25px;
}

.logo-input{
    padding-left: 50px !important;
}

.invalid-label{
    color: #E91E63;
}

.data-not-found{
    background-color: #F8FAFB;
    padding:21px;
    min-height: 400px;
    text-align: center;
    font-size: 30px;
}




